{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "> 2%"]
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-react-jsx",
    "syntax-dynamic-import"
  ]
}